

.container {
    

}

.col {
}

.row-md-auto {
}

.col.text-center {
}

.input-group.mb-3 {
    padding-left: 40px;
    padding-right: 40px
}

.list-group {
    margin-top: 10px;
    margin-bottom: 10px 
}

.row.justify-content-sm-center.text-center {
}

.col.justify-content {
}

.form-control {
    
}

.row.fixed-bottom {
    /* margin: 10px; */
    background-color: black
}
.col.textcenter {
    margin: 10px;
    color: white
}
.col.col-sm-4 {
    padding: 10px
}