.input-group.mb-3 {
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.list-group.list-group-flush{
    margin-top: 10px;
    margin-bottom: 10px;
}

.site {
    display: flex;
    min-height: 100vh;
    
}

.feature {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 3rem;
}

.row.fixed-bottom {

    background-color: black;

}
.icon {
    width: 25px;
    height: 25px;
}

.screenshot {
    border-style: double;
}

.row.bottom {
    background-color: black;
    margin-top: 10px;
}
.col.textcenter {
    margin: 10px;
    color: white;
}

.col.text-center.features{
    margin-bottom: 50px;
}
.col.col-sm-4 {
    padding: 10px;
}
