

.container {
    

}

.col {
}

.row-md-auto {
}

.col.text-center {
}

.input-group.mb-3 {
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.list-group.list-group-flush{
    margin-top: 10px;
    margin-bottom: 10px 
}



.col.justify-content {
}

.feature {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 3rem
}

.form-control {
    
}

.row.fixed-bottom {
    /* margin: 10px; */
    background-color: black
}

.row.bottom {
    background-color: black;
    margin-top: 10px
}
.col.textcenter {
    margin: 10px;
    color: white
}
.col.col-sm-4 {
    padding: 10px
}